@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?mw9524');
    src:  url('fonts/icomoon.eot?mw9524#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?mw9524') format('truetype'),
      url('fonts/icomoon.woff?mw9524') format('woff'),
      url('fonts/icomoon.svg?mw9524#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon-modal {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-email-black-18dp-1:before {
    content: "\e901";
  }
  .icon-phone-black-18dp-1:before {
    content: "\e902";
  }
  .icon-person-black-18dp-1:before {
    content: "\e903";
  }
  .icon-close-black-18dp-1:before {
    content: "\e900";
  }






  .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 250ms;
  z-index: 2;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .modal {
    left: 43%;
  }
}

.name-input {
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  margin-left: 40px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.email-input {
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  margin-left: 40px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.password {
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  margin-left: 40px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.submit {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-left: 164px;
  position: absolute;
  border: none;
  bottom: 20px;
}

.input-head {
  width: 448px;
  color: #212121;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 5px;
}

.comment {
  width: 448px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 40px;
  margin-bottom: 20px;
  outline: none;
  padding-left: 3px;
  padding-bottom: 70px;
}

.check {
  display: block;
  position: absolute;
  left: 50px;
  width: 16px;
  height: 15px;
  flex-shrink: 0;
}

.check-text {
  margin-left: 70px;
  margin-bottom: 30px;
}

.a-check {
  color: #2196F3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.label {
  display: block;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-left: -200px;
  margin-bottom: 2px;
}

.fa-xmark {

  flex-shrink: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;
  background-color: #FFF;
  padding: 2px 4px 2px 4px;
  margin-left: 470px;
  margin-top: 8px;
  margin-right: 20px;
}
.fa-xmark:hover {
  color: #2196F3;
  transition-duration: 300ms;
}

.ico {
  position: absolute;
  top: 2px;
  left: 50px;
}

.input-cont {
  position: relative;
}

.close {
  background-color: transparent;
}